name: Backend CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: companyuser
          POSTGRES_PASSWORD: companypass123
          POSTGRES_DB: companydb
        ports: ["5432:5432"]
        options: >-
          --health-cmd="pg_isready -U companyuser"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir -r requirements.txt

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$(pwd)/src" >> $GITHUB_ENV

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432 -U companyuser; do
            echo "Waiting for Postgres..."
            sleep 2
          done
      - name: Run tests with coverage
        env:
          DATABASE_URL: postgresql://companyuser:companypass123@localhost:5432/companydb
        run: python -m pytest --maxfail=1  -q --cov=src/backend --cov-report=xml --cov-report=term

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true
